.carousel_wrapper {
  position: relative;
  padding: 0px 50px;
  overflow-y: visible;
  .carousel_itself {
    overflow-y: visible;
    .react-multi-carousel-item {
      // max-width: 20px;
      // overflow-x: hidden;
      overflow-y: visible !important;
    }
  }
}

.btn_group_carousel_custom {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  left: 0px;
}
.btn_icon_carousel {
  font-size: 40px;
  fill: #39b54a;
}
.cardImage_carousel {
  width: 100%;
  //   max-width: 150px;
  object-fit: contain;
  height: 300px;
}
#blog_title {
  text-align: left;
  font: normal normal bold 1.6rem Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  margin-bottom: 8px;
}
#blog_desc {
  text-align: left;
  font: normal normal normal 1rem Segoe UI;
  letter-spacing: 0px;
  color: #808080;
  margin-bottom: 8px;
  word-spacing: 0.001rem;
}
.time_container_card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#blog_uploadTime {
  text-align: left;
  font: normal normal normal 1.1rem Segoe UI;
  letter-spacing: 0px;
  color: #000000;
}
.btn_icon_card {
  font-size: 20px;
  fill: #000;
  margin-right: 10px;
}
