/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"); */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Segoe UI", "Poppins", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  color: #808080;
  /* background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important; */
}
html,
body {
  background-color: #f9f9f9;
  margin: 0px;
  padding: 0px;

  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
  z-index: 0;

  scroll-behavior: smooth;
}

.app__layout {
  margin: 0;
  padding: 50px;
  width: 100%;
  height: 100%;
  // background-color: #f9f9f9;
  background-color: #f9f9f9;
  // border-radius: 20px;
}
.inner__container {
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  position: relative;
  border-radius: 20px;
}
@media screen and (max-width: 899px) {
  .app__layout {
    padding: 0px;
    margin: 0px;
  }
}

footer {
  width: 100%;
  background-color: #fff;
  height: 93px;
}
footer .footer__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}
footer .footer__container p {
  border-radius: 20px;
  font-size: 16px;
  color: #6a7695;
  line-height: 28px;
  margin-bottom: 0;
}

footer .footer__container .icon__button {
  font-size: 20px;
  line-height: 20px;
  width: 50px;
  height: 50px;
  background: #6754e20f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 10px;
  color: #6754e2d9;
  border-radius: 20px;
}
footer .icon__container {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
}
