.container_sponsors {
  width: 100%;
  height: 100%;
  //   background-color: aqua;
  //   padding-top: 50px;
  position: relative;
  text-align: center;

  bottom: -150px;
  margin-bottom: 250px;
}
.outerBox_sponsors {
  // background-color: rgba(57, 181, 74, 0.05);

  padding: 100px 0px;
  border-radius: 30px;
  margin: 100px 0px;
  overflow: hidden;
}
.gridContainer_sponsors {
  background-color: #fff;
  box-shadow: 0px 0px 180px 1px #39b54a;
  width: 90%;
  height: 100%;
  display: flex;
  margin: 0px auto;
  border-radius: 20px;
}

.gridItem_sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardBox_sponsors {
  display: flex;
  flex-direction: column;
}
#value_sponsors {
  font: normal normal 600 62px/83px Segoe UI;
  letter-spacing: 0px;
  color: #ffbf00;
  text-transform: capitalize;
}
#desc_sponsors {
  font: normal normal normal 20px/28px Segoe UI;
  letter-spacing: 0px;
  color: #808080;
}
.spImage_spnsors {
  width: 100%;
  width: 90px;
  object-fit: contain;
}
