.container_contact {
  width: 100%;
  height: 100%;
  //   background-color: aqua;
  padding-top: 50px;
}
.gridContainer_contact {
  background: url(../../assets/images/contact_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 95%;
  position: relative;
}
.grid_contact {
  height: 100%;
}
.leftGrid_contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  //   background-color: #39b54a;
}
.leftBox_contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20%;
  margin-top: 35%;
}

.pizzaImage_contact {
  position: absolute !important;
  z-index: 10;
  width: 100%;
  max-width: 250px;
  object-fit: contain;
  left: -100px;
  top: 0px;
}

.bannerImg_contact {
  width: 100%;
  object-fit: contain;
  max-width: 500px;
}
#sectionTitle_contact {
  font: normal normal normal 18px/24px Segoe UI;
  letter-spacing: 5px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
}

#heading_contact {
  text-align: left;
  font-size: 2.3rem;
  font-weight: 600;
  letter-spacing: 0px;

  color: #ffffff;
  margin-bottom: 2rem;
}
#btn__contact {
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 10px;
  width: 100%;
  max-width: 120px;
  border-radius: 20px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0px;
  color: #000000;
}
.rightGrid_contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .gridContainer_contact {
    background: none;
  }
  .pizzaImage_contact {
    display: none;
  }
  .bannerImg_contact {
    max-width: 300px;
  }
  .leftBox_contact {
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    margin-bottom: 4rem;
    padding-left: 0px;
  }
  #heading_contact {
    text-align: center;
    font-size: 2rem;
  }
}
