backend:
  name: github
  repo: saraanasim/ready-to-munch
  branch: main

media_folder: content/assets
public_folder: ../assets

collections:
  - name: blog
    label: Blog
    folder: content/blog
    create: true
    fields:
      - { name: path, label: Path }
      - {
          name: date,
          label: Date,
          widget: datetime,
          date_format: DD.MM.YYYY,
          time_format: HH:mm:ss,
          format: LLL,
        }
      - { name: title, label: Title }
      - { name: blogAuthor, label: Blog Author }
      - { name: description, label: Description }
      - { name: image, label: Image, widget: image }
      - { name: body, label: Body, widget: markdown }
