.container_features {
  width: 100%;
  height: 100%;
  //   background-color: aqua;
  //   padding-top: 50px;
  position: relative;
  text-align: center;
}

.title_features {
  font-size: 2.5rem !important;
  font-weight: 700 !important;
  letter-spacing: 0px !important;
  color: #000000 !important;
}
.listContainer__features {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  justify-content: space-between;
  padding: 20px 40px 20px 20px;
  border-radius: 30px;
  width: fit-content;
}
.gridItem_features {
  // padding: 0px 20px;
  display: flex;
  justify-content: center;
}
.listItemBox_features {
  display: flex;
  align-items: center;
}
.listItem_features {
  text-align: left;
  font-size: 0.9rem;
  margin-left: 15px;
  letter-spacing: 0px;
  color: #808080;
}
.mainImage_features {
  width: 100%;
  object-fit: contain;
  max-width: 500px;
}
.section_container_features {
  width: 100%;
  max-width: 500px;
  position: relative;
  height: fit-content;
}
.sectionTitle_features {
  font: normal normal normal 18px/24px Segoe UI !important;
  letter-spacing: 9px !important;
  color: #39b54a !important;
  text-transform: uppercase !important;
  margin-bottom: 10px !important;
}
.fruitImage_features {
  position: absolute !important;
  z-index: 10;
  width: 100%;
  max-width: 100px;
  object-fit: contain;
  left: 50px;
  top: -40px;
}
#tick {
  fill: #39b54a;
  height: 1.2em;
  width: 1.2em;
}

@media screen and (max-width: 1200px) {
  #cardText_features {
    font-size: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .listContainer__features {
    width: 100%;
    max-width: 400px;
    height: fit-content;
  }
  .listItem_features {
    font-size: 1rem;
  }
  #tick {
    height: 1.4em;
    width: 1.4em;
  }
}
@media screen and (max-width: 600px) {
  .tomattoImage_features {
    right: -250px;
    bottom: -40px;
  }
  .gridContainer_features {
    background: none;
    height: fit-content;
  }
  #cardText_features {
    font-size: 1.2rem;
  }
}
