.container_home {
  width: 100%;
  height: 100%;
  //   background-color: aqua;
  //   padding-top: 50px;
  position: relative;
  border-top-left-radius: 20px;
}
.gridContainer_home {
  width: 100%;
  height: 100%;
}
.leftGrid_home {
  height: 100%;
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  position: relative;
  padding-left: 50px;

  // background-color: #39b54a;
}
.rightGrid_home {
  display: flex;
  justify-content: center;
}
.tag_container_home {
  width: 100%;
  position: relative;
  height: fit-content;
}
.tag_home {
  background-color: #e4f4e7;
  border-radius: 20px;
  width: 100%;
  max-width: 200px;
  padding: 10px;
  text-align: center;
  color: #39b54a;
}
.rollImage_home {
  position: absolute !important;
  z-index: 10;
  width: 100%;
  max-width: 150px;
  object-fit: contain;
  left: -80px;
  top: 50px;
}
.sauceImage_home {
  position: absolute;
  z-index: 10;
  width: 100%;
  max-width: 70px;
  object-fit: contain;
  right: -190px;
  top: 70px;
}
.bannerImg_home {
  width: 100%;
  object-fit: contain;
  max-width: 500px;
}
.iconIcontainer_home {
  display: flex;
  margin: 50px 0px;
}
#title_home {
  font-size: 2.7rem;
  word-wrap: normal;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 50px;
  margin: 20px 0px;
  color: #000;
}
#desc_home {
  margin-bottom: 20px;
}
#btn_home {
  background-color: #ffbf00;
  padding: 10px 20px;
  width: fit-content;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
}

.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

@media screen and (max-width: 900px) {
  .leftGrid_home {
    padding-left: 30px;
  }
}
@media screen and (max-width: 600px) {
  .leftGrid_home {
    padding-left: 0px;
  }
  #title_home {
    font-size: 2.5rem;
  }
}
